<div class="box edit-box">
  <article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="title is-size-4">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="field">
      <label class="label">Title</label>
      <div class="title-edit-box">
      <div class="control edit-title">
      <input class="input is-small" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div class="title-edit-addon">
      by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    </div>
    </div>
    <div class="field">
      <label class="label">Content</label>
      <div class="control">
        <textarea class="textarea" name="post-text">{{post.post_text}}</textarea>
      </div>
    </div>
    <div class="buttons">
      <div class="control">
        <button class="button is-small" type="submit">Save post</button>
      </div>
      <div class="control">
        <button type="button" class="button is-small delete-post-btn">Delete post</button>
      </div>
    </div>
  </form>
</article>

<form class="comment-form">
    <div class="field">
      <label class="label">Add Comment</label>
      <div class="control">
        <textarea name="comment-body" class="textarea is-small" required=""></textarea>
      </div>
    </div>

    <div class="control">
      <button type="submit" class="button is-small">submit</button>
    </div>
  </form>

{{> comments post.comments}}
</div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>